@model IEnumerable<MVCData_Group5.Models.Database.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Movie", "Add")
</p>

<div class="row">
    @foreach (var movie in Model)
{
    Html.RenderPartial("_movieRowPartial", movie);
}
</div>

