@model IEnumerable<MVCData_Group5.Models.ViewModels.DisplayMovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    @foreach (var movie in Model)
{
    Html.RenderAction("MovieEntry", movie);
}
</div>

