@model MVCData_Group5.Models.ViewModels.CheckOutViewModel

<div>
    @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress)
        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { placeholder = Html.DisplayNameFor(model => model.EmailAddress) } })
    </div>
    <button type="submit" class="btn btn-info">Check out</button>
}
@Html.ActionLink("Check out as new customer", "CheckOutNewCustomer", null, new { @class = "btn btn-info" })
</div>